* {
    box-sizing: border-box;
    transition: all .3s;
}

body {
    margin: 0 auto;    
}


nav#menu {
    width: 100%;
}

nav#menu ul {
    margin: 0;
    text-align: right;
    list-style: none;
}

nav#menu ul li.menu-item:nth-child(1){
    float: left;
}

nav#menu ul li.menu-item {
    display: inline-block;
    padding: 25px;
}

nav#menu ul li.menu-item a {
    text-decoration: none;
    color: #000;
}

nav#menu ul li.menu-item a:hover {
    color: #bbb;
}
