* {
    box-sizing: border-box;
    transition: all .3s;
}

body {
    margin: 0 10%;
    background-color: bisque;
    background-image: url(../img/j.jpg);
    background-position: center;
    background-size: cover; 
}

#container{
    margin-top: 150px;
}

/* General styles - Start*/
header, section {
    height: 900px;
}

.col-lg-4 {
    width: 33.3%;
    border: 2px solid red;
    height: inherit;
    float: left;
}

.col-lg-8 {
    width: 66.6%;
    border: 2px solid black;
    height: inherit;
    float: left;
}

/* General styles - Stop */

/*Main-nav - Start*/

nav#menu {
    width: 100%;
    font-weight: bold;
}

nav#menu ul {
    margin: 0;
    text-align: right;
    list-style: none;
}

nav#menu ul li.menu-item:nth-child(1) {
    float: left;
    font-weight: bold;
}

nav#menu ul li.menu-item {
    display: inline-block;
    padding: 25px;
}

nav#menu ul li.menu-item a {
    text-decoration: none;
    color: #000;
}

nav#menu ul li.menu-item a:hover {
    color: #333;    
}

/*Main-nav - Stop*/

/*Main-header - Start*/

header#main-header {
    margin-top: -70px;
    background-image: url(../img/test.jpg);
    background-position: center;
    background-size: cover;    
}

header#main-header .header-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    position: relative;
    width: 100%;
}

header#main-header .header-images img {    
    height: auto;
    width: auto;    
}

header#main-header .header-images .triangle-opacity {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    display: block;
    width: 300px;
    height: 260px;
    opacity: 0.5;
    position: absolute;
    background-color: #ff0080;
    margin-top: 72px;   
}

header#main-header .scroll-down-icon {  
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

header#main-header .scroll-down-icon:hover {
    animation: arrow 1s infinite;
}

@keyframes arrow {
    0% {padding-top: 0px;}
    50% {padding-top: 25px;}
    100% {padding-top: 0px;}
}

header#main-header .scroll-down-icon a {
    color: #ff0080; 
    padding-left: 20px;
    
}

header#main-header .scroll-down-icon a i {
    font-size: 7em;
    font-weight: 100;
    padding: 0;
}

/*Main-header - Stop*/

/* Our-story - section - Start */

#our-story {
    
}

#our-story .col-lg-4 {
    text-align: center;
}

#our-story .col-lg-8 {
    background-image: url(../img/green.jpg);
    background-position: center;
    background-size: cover; 
}



/* Our-story - section - Stop */