* {
    box-sizing: border-box;
    transition: all .3s;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0 10%;
    background-image: url(../img/j.jpg);
    background-position: center;
    background-size: cover;
}

#container {
    margin-top: 150px;
}


/* General styles - Start*/

header,
section {
    height: 900px;
}

.col-lg-4 {
    width: 33.3%;
    height: inherit;
    float: left;
    text-align: center;
}

.col-lg-4 *:not(span) {
    position: relative;
    display: inline-block;
    top: 50%;
    transform: (-50%);
}

.col-lg-4 p {
    font-weight: 300;
}

.col-lg-8 {
    width: 66.6%;
    height: inherit;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.polish-flag {
    display: block;
    width: 40px;
    height: 25px;
    background-color: red;
    margin: 0 auto;
}

.polish-flag::after {
    content: '';
    display: block;
    height: 12.5px;
    width: 40px;
    background-color: white;
}

h3 {
    margin-top: 300px;
}


/* General styles - Stop */


/*Main-nav - Start*/

nav#menu {
    width: 100%;
    font-weight: bold;
}

nav#menu ul {
    margin: 0;
    text-align: right;
    list-style: none;
}

nav#menu ul li.menu-item:nth-child(1) {
    float: left;
    font-weight: 700;
    font-style: italic;
    font-size: 2.5em;
}

nav#menu ul li.menu-item {
    display: inline-block;
    padding: 25px;
    font-weight: 700;
    font-size: 0.8em;
}

nav#menu ul li.menu-item a {
    text-decoration: none;
    color: #ff0080;
}

nav#menu ul li.menu-item a:hover {
    color: #99004c;
}


/*Main-nav - Stop*/


/*Main-header - Start*/

header#main-header {
    margin-top: -70px;
    background-image: url(../img/test.jpg);
    background-position: center;
    background-size: cover;
}

header#main-header .header-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    position: relative;
    width: 100%;
}

header#main-header .header-images img {
    height: auto;
    width: auto;
    position: absolute;
}

header#main-header .header-images .triangle-opacity {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    display: block;
    width: 300px;
    height: 260px;
    opacity: 0.5;
    position: absolute;
    background-color: #ff0080;
    margin-top: 72px;
}

header#main-header .scroll-down-icon {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: -50px;
}

header#main-header .scroll-down-icon:hover {
    animation: arrow 1s infinite;
}

@keyframes arrow {
    0% {
        padding-top: 0px;
    }
    50% {
        padding-top: 25px;
    }
    100% {
        padding-top: 0px;
    }
}

header#main-header .scroll-down-icon a {
    color: #ff0080;
    padding-left: 20px;
}

header#main-header .scroll-down-icon a i {
    font-size: 7em;
    font-weight: 100;
    padding: 0;
}


/*Main-header - Stop*/


/* Our-story - section - Start */

#our-story {}

#our-story .col-lg-4 {}

#our-story .col-lg-8 {
    background-image: url(../img/1.jpg);
}


/* Our-story - section - Stop */


/*Fresh fare - Section - Start*/

#fresh-fare {}

#fresh-fare .col-lg-8 {
    background-image: url(../img/2.jpg);
}


/*Fresh fare - Section - Stop*/


/*Local-distillation - Section - Start*/

#local-distillation {}

#local-distillation .col-lg-8 {
    background-image: url(../img/3.jpg);
}


/*Local-distillation - Section - Stop*/


/*Paralax effect - Section - Start*/

#paralax {
    background-image: url(../img/4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/*Paralax effect - Section - Stop*/


/*Section contact  - Start*/

#contact {
    height: 300px;
}

#contact .col-lg-4 * {
    transform: none;
}

#contact .col-lg-4.contact-data .polish-flag {
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 56px;
}

#contact .contact-data {
    text-align: left;
    padding-left: 40px;
}

#contact .contact-data h2 {
    text-align: center;
    top: 20px;
}

#contact .col-lg-8 {
    padding-right: 40px;
}

#contact .col-lg-8 a {
    float: right;
    position: relative;
    top: 80%;
    color: #ff0080;
    padding-right: 10px;
}

#contact .col-lg-8 a:hover {
    color: #99004c;
}


/*Section contact  - Stop*/